.passwordInputWrapper {
  position: relative;
  width: 100%;
  /* background-color: blue; */
}


.passwordInputWrapper .toggleButton{
    width: 1.875rem !important;
}

.toggleButton {
  position: absolute;
  top: 68%;
  /* right: var(--spacing-auth-1xxs); */
  right: 4%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: var(--spacing-auth-1xxs);     /* Melhor para dedo gordo em telefones */
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--auth-color-text-secondary);
  transition: var(--auth-transition-main);
  /* background-color: yellow; */
}

.toggleButton:hover {
  color: var(--auth-color-text-primary);
}